/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/profile/components/profilePage.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.gradient-custom-2 {
  background: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
}

.header-bg {
  background-color: linear-gradient(to right, rgba(251, 194, 235, 1), rgba(166, 193, 238, 1));
  height: 180px;
}

.profile-img-wrapper {
  width: 150px;
}

.profile-img {
  width: 150px;
  z-index: 1;
}

.profile-info {
  margin-top: 130px;
}

.about-bg {
  background-color: #aeb8c1;
}

.about-section {
  margin-top: -180px; /* Remonte la section */
  margin-left: 200px;
  z-index: 2; /* S'assure qu'elle passe au-dessus */
  position: relative;
}
.music-cover {
  width: 100px;
  height: 100px;
  object-fit: cover;
}


.d-flex.justify-content-center.flex-wrap {
  display: flex !important;
  flex-direction: row !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
}

.profile-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement les enfants */
}

.profile-img-wrapper .MDBBtn {
  margin-bottom: 10px; /* Ajoute un petit espacement sous le bouton */
}

